.customer-reviews {
    font-weight: 200;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 50px;
}

.review-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}