.Yamaha-home-text-and-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

.yamaha-text {
    font-weight: 200;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
}

.about-yamaha {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin-top: 20px;
}

.Yamaha-home-text-and-image img {
    width: 120%;
}

.customer-reviews {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
    margin-bottom: 30px;
}

.review-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.all-review-link {
    margin-top: 20px;
    margin-bottom: 40px;
}

.all-reviews {
    text-decoration: none;
    border: 2px solid gray;
    padding: 10px;
    font-size: large;
    font-weight: 600;
    color: white;
    background-color: rgba(167, 8, 8, 0.829);
    border-radius: 8px;

}

.all-reviews:hover {
    color: white;
}